boto==2.49.0
certifi==2018.11.29
chardet==3.0.4
Django==2.1.5
django-annoying==0.10.4
future==0.17.1
idna==2.8
numpy==1.16.1
oauthlib==3.0.1
pandas==0.24.2
pycld2==0.31
python-dateutil==2.8.0
python-twitter==3.5
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
scikit-learn==0.20.2
scipy==1.2.1
six==1.12.0
sklearn==0.0
urllib3==1.24.1
