{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Russian Troll Detector</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'website/css/style.css' %}">

<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Russian Troll Detector</a>
    </div>
    <div class="navbar">
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item">
            <a class="nav-link" href="">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">FAQ</a>
          </li>
        </ul>
      </div>
  </div>
</nav>

<div class="container fluid" id="main-container">
  <section id="enter-handle">
      Enter the Twitter handle<br>

     <form class="form-inline">
          <input type="text" id="username" placeholder=""><br>
          <!--Need to put type to button in order to prevent from refreshing-->
          <button class="btn btn-info" type="button" id="submitUsername">Submit</button>
     </form>

    <p id="result">
      Result?
    </p>
  </section>
</div>


<script>
    function submitUsername() {
        var username = $('#username').val();
        console.log(username)
        $.ajax({
            url: 'get_user_tweets',
            data: {
                'username':username
            },

            success: function(res){
                console.log(res)
                $('#result').html(JSON.stringify(res))

            }

        });
    }


    $('#submitUsername').click(function(event) {
        submitUsername();
        console.log('hi')
    });

</script>
</body>
</html>

