{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Russian Troll Detector</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'website/css/style.css' %}">

<nav class="navbar navbar-expand-lg" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Michigan_Wolverines_logo.svg" alt="Michigan Logo" style="width:50px;height:50px;">
      <a class="navbar-brand" href="">  Trollo</a>
    </div>
    <div class="navbar">
        <ul class="nav navbar-nav navbar-left">
          <li class="nav-item">
            <a class="nav-link" href="">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">FAQ</a>
          </li>
        </ul>
      </div>
  </div>
</nav>

<div class="jumbotron" style="background: transparent; text-align: center; margin: auto;" >
  <!--<img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Michigan_Wolverines_Logo.svg" 
  style="position: absolute; left: 300px;"></img>-->
    <h1 class="display-4">Trollo</h1>
    <p class="lead">The Russian Troll Detector for Twitter</p>
    <hr class="my-4" style="width:83%;">
    <p style="box-sizing: border-box; width: 690px; margin-left: auto; margin-right: auto;">Trollo is a 
      tool created by the comp.social lab within the University of Michigan School of Information 
      that predicts whether a specific Twitter user is a Russian Troll or not.
    </p>
  </div>

<div class="container fluid" id="main-container">
  <section id="enter-handle">
      Enter the Twitter handle<br>

     <form class="form-inline" id = 'username-form'>
          <input type="text" id="username" placeholder="@Username"><br>
          <!--Need to put type to button in order to prevent from refreshing-->
          <button class="btn btn-info" type="button" id="submitUsername" style="background-color:#007bff;">Submit</button>
     </form>

      <div id="result">
          Result?
      </div>

  </section>
</div>


<script>
    function submitUsername() {
        var username = $('#username').val();
        console.log(username)
        $.ajax({
            url: 'predict',
            data: {
                'username':username
            },

            success: function(res){
                console.log(res)
                $('#result').html(JSON.stringify(res))

            },
            error: function(res) {
              console.log('ERROR');
              document.getElementById("result").innerHTML = "ERROR";
            }

        });
    }
    
    $('#username').keypress(function (e) {                                       
       if (e.which == 13) {
            e.preventDefault();
            $("#submitUsername").click();
       }
    });


    $('#submitUsername').click(function(event) {
        submitUsername();
        console.log('hi')
    });
    

</script>
</body>
</html>

